.card {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnsContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.btnsContainer button {
    margin: 1rem auto 0 auto;
    padding: 0.3rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.btnsContainer button:hover {
    -webkit-box-shadow: 4px 4px 8px 0 rgba(102, 124, 141, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(102, 124, 141, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(102, 124, 141, 0.2);
}

.input {
    padding: 0.3rem;
    margin-left: 1rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
}

.line {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.infoContainer {
    flex: 1;
}

.line span {
    display: block;
    white-space: nowrap;
}